service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://www.example.com/ws/wsSoapPort"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://www.example.com/ws/wsSoapPort">

    <wsdl:types>
        <xsd:schema targetNamespace="http://www.example.com/ws/wsSoapPort">
            <xsd:element name="plate" type="xsd:string"/>
            <xsd:element name="message" type="xsd:string"/>
            <xsd:element name="result" type="xsd:string"/>
            <xsd:element name="messages" type="xsd:string"/>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="postNotificationRequest">
        <wsdl:part name="plate" element="tns:plate"/>
        <wsdl:part name="message" element="tns:message"/>
    </wsdl:message>

    <wsdl:message name="postNotificationResponse">
        <wsdl:part name="result" element="tns:result"/>
    </wsdl:message>

    <wsdl:message name="getNotificationRequest">
        <wsdl:part name="plate" element="tns:plate"/>
    </wsdl:message>

    <wsdl:message name="getNotificationResponse">
        <wsdl:part name="messages" element="tns:messages"/>
    </wsdl:message>

    <wsdl:portType name="wsSoapPort">
        <wsdl:operation name="post_notification">
            <wsdl:input message="tns:postNotificationRequest"/>
            <wsdl:output message="tns:postNotificationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="get_notification">
            <wsdl:input message="tns:getNotificationRequest"/>
            <wsdl:output message="tns:getNotificationResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="wsSoapPortBinding" type="tns:wsSoapPort">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="post_notification">
            <soap:operation soapAction="http://www.example.com/ws/wsSoapPort/post_notification"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="get_notification">
            <soap:operation soapAction="http://www.example.com/ws/wsSoapPort/get_notification"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="ws">
        <wsdl:port name="wsSoapPort" binding="tns:wsSoapPortBinding">
            <soap:address location="http://soapnode:3010/wsdl"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>